---
# Include and run tasks from external YAML files
# Usage: ansible-playbook include_tasks.yml
- name: Include tasks
  hosts: managed_node1
  gather_facts: false
  vars:
    shared_var: "World"
  tasks:
    - name: Run tasks from an external file
      ansible.builtin.include_tasks:
        file: tasks.yml
      loop:
        - "Mercury"
        - "Venus"
        - "Earth"
...
# code: language=ansible
# vi: set noai nu ts=2 sw=2 sts=2 sta et:
